@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/* nunito-sans.css */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/nunito_sans/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/nunito_sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'VKS Sans';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/VksSans-Regular/VksSans-Regular.ttf') format('truetype');
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  background: linear-gradient(
     to bottom,
     transparent,
     rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}

.strokeText {
  font-family: 'VKS Sans', sans-serif;
  font-weight: bold;
  color: #00605D; /* We make the text transparent */
  /*text-stroke: 2px #000; !* Text stroke for other browsers *!*/
}

.strokeTextWhite {
  font-family: 'VKS Sans', sans-serif;
  font-weight: bold;
  color: #FFF; /* Text stroke for Chrome and Safari */
  /*text-stroke: 2px #000; !* Text stroke for other browsers *!*/
}

.transitionClass {
  transition: all .45s ease;
}

input[type="checkbox"]:checked  {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0;
}

